<!DOCTYPE html>
<html>

  <head>
    <meta charset=utf-8 />
    <title>
      {% if page.title %} {{ page.title }} | {% endif %} Dakangz
    </title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div id="main">
      <header>
        <h1>
          My Notes List
        </h1>
        <header>
          <nav role="navigation">
            <ul>
              <li>
                <a href="/myblog/"> Home </a>
              </li>
            </ul>
          </nav>
          {{ content }}
          <footer>
            <p>
              QQ: 450070816
            </p>
            <p>
              syhgxyzdk@163.com
            </p>
          </footer>
    </div>
  </body>

</html>