<!DOCTYPE html>
<html>

  <head>
    <meta charset=utf-8 />
    <title>
      {% if page.title %} {{ page.title }} | {% endif %} Dakangz
    </title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div id="main">
      <header>
        <h1>
          Stark Zhang Notes List
        </h1>
        <h2>
          我的笔记
        </h2>
        <header>
          <nav role="navigation">
            <ul>
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <a href="/portfolio/"> Portfolio </a>
              </li>
              <li>
                <a href="/about"> About </a>
              </li>
              <li>
                <a href="/contact"> Contact </a>
              </li>
            </ul>
          </nav>
          {{ content }}
          <footer>
            <p>
              @copy; dakang zhang 2015.9.11 | All Rights Reserved.
            </p>
          </footer>
    </div>
  </body>

</html>